* {
  margin: 10px
}

h1 {
  padding: 0;
  margin: 0;
}

.btn-primary {
  background-color: blue;
}

.text-primary {
  color: aqua;
}

.text-secondary {
  color: beige;
}
.text-terinary {
  color:blueviolet
}

.text-black {
  color:chocolate
}

.box {
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.box1 {
  background-color: blueviolet;
  transition: all .5s linear;
}
.box1:hover {
  opacity: 0;
}

.traffic_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center
}

.traffic-light-container {
  background-color: #000;
  border-radius: 8px;
  display: flex;
  padding: 8px;
  gap: 8px
}

.traffic-light-container--vertical {
  flex-direction: column
}

.traffic-light {
  --size: 50px;
  background-color: #555;
  border-radius: var(--size);
  height: var(--size);
  width: var(--size)
}
